#u1977 p span:hover {
    cursor: pointer;
}

#u1979 p span:hover {
    cursor: pointer;
}

#u1981 p span:hover {
    cursor: pointer;
}

#u1893 p span:hover {
    cursor: pointer;
}

#u1897 p span:hover {
    cursor: pointer;
}

#u1899 p span:hover {
    cursor: pointer;
}

#u1901 p span:hover {
    cursor: pointer;
}

#sum_01 {
    position: absolute;
    width: 1000px;
    top: 143px;
    left: 169px;
}

#tmp {
    width: 1000px;
}

#favorite {
    margin: 20px auto;
    width: 960px;
}
