#u345 p span:hover{
    cursor:pointer;
}

#u349 p span:hover{
    cursor:pointer;
}

#u351 p span:hover{
    cursor:pointer;
}

#u353 p span:hover{
    cursor:pointer;
}

#u668 p span:hover{
    cursor:pointer;
}

#u670 p span:hover{
    cursor:pointer;
}