#u1710 p span:hover{
    cursor:pointer;
}

#u1714 p span:hover{
    cursor:pointer;
}

#u1716 p span:hover{
    cursor:pointer;
}

#u1718 p span:hover{
    cursor:pointer;
}

#u1799 p span:hover{
    cursor:pointer;
}

#u1801 p span:hover{
    cursor:pointer;
}

#u1803 p span:hover{
    cursor:pointer;
}

#sum_01 {
  position: absolute;
  width: 1000px;
  top: 350px;
  left: 169px;
}

#tmp {
    width: 1000px;
}

#favoriteOr{
    width: 1000px;
    height: 100px;
}

table{
    margin: 0 auto;
    width: 95%;
    border:2px solid #aaa;
    border-collapse:collapse;
    padding: 10px;
}
table tr td{
    border: 2px solid #aaa;
    padding: 5px;
}