#u2484 p span:hover{
    cursor:pointer;
}

#u2488 p span:hover{
    cursor:pointer;
}

#u2490 p span:hover{
    cursor:pointer;
}

#u2492 p span:hover{
    cursor:pointer;
}

#u2584 p span:hover{
    cursor:pointer;
}

#u2586 p span:hover{
    cursor:pointer;
}

#u2588 p span:hover{
    cursor:pointer;
}