#u2374 p span:hover{
    cursor:pointer;
}

#u2378 p span:hover{
    cursor:pointer;
}

#u2380 p span:hover{
    cursor:pointer;
}

#u2382 p span:hover{
    cursor:pointer;
}

#u2469 p span:hover{
    cursor:pointer;
}

#u2471 p span:hover{
    cursor:pointer;
}

#u2473 p span:hover{
    cursor:pointer;
}

#u2449_input {
    text-align: center;
}

#u2450_input {
    text-align: center;
}

#u2451_input {
    text-align: center;
}

#u2452_input {
    text-align: center;
}