#u1814 p span:hover{
    cursor:pointer;
}

#u1818 p span:hover{
    cursor:pointer;
}

#u1820 p span:hover{
    cursor:pointer;
}

#u1822 p span:hover{
    cursor:pointer;
}

#u1878 p span:hover{
    cursor:pointer;
}

#u1880 p span:hover{
    cursor:pointer;
}

#u1882 p span:hover{
    cursor:pointer;
}