#input_addr1_c {
  position:absolute;
  left:52px;
  top:6px;
  width:92px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}

#input_addr1_d {
  position:absolute;
  left:166px;
  top:6px;
  width:92px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}

#u2230 p span:hover{
    cursor:pointer;
}

#u2234 p span:hover{
    cursor:pointer;
}

#u2236 p span:hover{
    cursor:pointer;
}

#u2238 p span:hover{
    cursor:pointer;
}
